<?xml version="1.0" ?>

<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\work\log.txt">-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  
  <targets>
    
    <!-- Log in a separate thread, possibly queueing up to
messages. When the queue overflows, discard any
        extra messages-->

    <!-- write logs to file -->
    <target name="log_file" xsi:type="File"
                    fileName="${basedir}/Logs/${date:format=yyyy}/${date:format=MM}/${shortdate}.log"
                    layout="${longdate} |${level}|${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />



    <!--write log message to Visual Studio Output-->
    <target name="debugger" xsi:type="Debugger" layout="NLog: ${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message}" />
  </targets>

  <rules>
    <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
    <!--<logger name="*" minlevel="Trace" writeTo="debugger" />-->
    <!--INFO,WARN,ERROR,FATAL-->
    <!--<logger name="*" minlevel="Info" writeTo="db" />-->
    <!--DEBUG,INFO,WARN,ERROR,FATAL-->
    <logger name="GolbalLog" minlevel="Debug" writeTo="log_file" />    
  </rules>
</nlog>